@model PollDancingLibrary.DTOs.SenatorDTO
@{
    ViewData["Title"] = "Bills";
}
<div class="container-fluid mt-4">
    <div class="text-center">
        <h4>Bills</h4>
    </div>

    <table id="billTable" class="table table-striped dt-responsive nowrap">
        <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Type</th>
                <th>Number</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        // Define the base URL for the details action
        var detailsBaseUrl = '@Url.Action("Details", "Legislation")';

        $('#billTable').DataTable({
            "processing": true, // Enable processing indicator
            "serverSide": true, // Enable server-side processing
            "ajax": {
                "url": "/Legislation/GetLegislations",
                "dataType": "json",
                "type": "POST"
            },
            "columns": [
                { "data": "title", "orderable": false },
                { "data": "type", "orderable": false },
                { "data": "number", "orderable": false },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        return '<a class="btn btn-primary" href="' + detailsBaseUrl + '/' + data + '">View Details</a>';
                    }
                }
            ],
            "responsive": true
        });
    });
</script>
