@model PollDancingWeb.Models.MemberModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h2 class="display-4">Congress Members</h2>

    <table id="memberTable" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
                <th>State</th>
                <th>District</th>
                <th>URL</th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#memberTable').DataTable({
            "ajax": {
                "url": "/Home/GetMembers",
                "dataType": "json",
                "dataSrc": ""
            },
            "columns": [
                { "data": "id" },
                { "data": "name" },
                { "data": "type" },
                { "data": "state" },
                { "data": "district" },
                { "data": "url" },
            ]
        });
    });
</script>