@model PollDancingWeb.Models.MemberModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <h2 class="display-4">Congress Members</h2>

    <table id="memberTable" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Name</th>
                <th>Party</th>
                <th>Type</th>
                <th>State</th>
                <th>District</th>
                <th>Office</th>
                <th>Sponsored Bills</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<script>
    $(document).ready(function () {
        // Define the base URL for the details action
        var detailsBaseUrl = '@Url.Action("GetDetails", "Home")';

        $('#memberTable').DataTable({
            "processing": true, // Enable processing indicator
            "serverSide": true, // Enable server-side processing
            "ajax": {
                "url": "/Home/GetMembers",
                "dataType": "json",
                "type": "GET"
            },
            "columns": [
                { "data": "id" },
                {
                    "data": "image",
                    "render": function (data, type, row) {
                        return '<img src="' + data + '" alt="' + row.name + '" style="width:50px;height:auto;"/>';
                    }
                },
                { "data": "name" },
                { "data": "partyName" },
                
                { "data": "type" },
                { "data": "state" },
                { "data": "district" },
                { "data": "office" },
                { "data": "sponsoredLegislations" },
                {
                    "data": "id",
                    "render": function (data, type, row) {
                        // Use the base URL and append the id to create the detail link
                        return '<a href="' + detailsBaseUrl + '/' + data + '">View Details</a>';
                    }
                }
            ]
        });
    });
</script>